<!-- <div
  class="min-h-screen bg-cover bg-center flex items-center justify-center"
  style="background-image: url('../assets/images/map.jpg');">
  <div class="container mt-30 max-w-md mx-auto p-4 rounded shadow bg-white">
    <h2 class="text-center mb-4 text-4xl font-bold text-orange-700">Reset Password</h2>

    <form [formGroup]="resetForm" (ngSubmit)="submit()">
      <div class="mb-3 flex flex-col">
        <label class="form-label font-bold text-orange-700">New Password</label>
        <input
          type="password"
          formControlName="newPassword"
          class="form-control text-gray-500 p-2 border border-gray-300 rounded"
          placeholder="New Password" />
        <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" class="text-red-600 text-sm mt-1">
          Password is required (min 6 chars)
        </div>
      </div>

      <div class="mb-3 flex flex-col">
        <label class="form-label font-bold text-orange-700">Confirm New Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control text-gray-500 p-2 border border-gray-300 rounded"
          placeholder="Confirm Password" />
        <div *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmPassword')?.touched" class="text-red-600 text-sm mt-1">
          Passwords do not match
        </div>
      </div>

      <button type="submit" [disabled]="resetForm.invalid" class="bg-orange-700 p-2 text-white w-full rounded">
        Reset Password
      </button>
    </form>
  </div>
</div> -->
