<div class="min-h-screen flex flex-col justify-between bg-orange-700 text-white px-6 py-10">
    <div class="flex flex-col items-center space-y-6">
      <img
      src="https://i.pinimg.com/originals/71/5c/4e/715c4e2bfc9db0f490736d9d70aad3a1.gif"
      alt="Carpool GIF"
      class="w-3/4 max-w-sm rounded-2xl shadow-xl border border-white"
    />
      <div class="text-center ">
        <h1 class="text-3xl font-bold  mb-2">Welcome</h1>
        <p class="text-xl font-bold">BuddyRide<br><span class="font-medium">your smart way to share rides and save together.</span></p>
      </div>
      <button routerLink="/signup" class="bg-white text-orange-500 w-full max-w-xs py-3 rounded-xl font-semibold flex items-center justify-center shadow-md hover:bg-gray-100 transition">
       Create Account 
      </button>
  
      <div class="text-center text-sm ">
        Already have an account?
        <a routerLink="/login" class="underline font-semibold">Sign in</a>
      </div>
      
    </div>
    
  </div>
  
