<div class="container mt-8 max-w-md mx-auto p-4 border rounded shadow">
    <h2 class="text-center mb-4 text-3xl font-bold text-orange-700">Change Password</h2>
  <p class="text-gray-400 text-center mb-4">Do you wants to change your password?</p>
    <form  [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 flex flex-col">
        <label class="form-label font-bold text-xl">Current Password</label>
        <input
          type="password"
          formControlName="currentPassword"
          class="form-control border-1 border-gray-400 rounded-xl p-2 text-gray-400"
          placeholder="currentPassword"/>
      </div>
  
      <div class="mb-3 flex flex-col">
        <label class="form-label font-bold text-xl">New Password</label>
        <input
          type="password"
          formControlName="newPassword"
          class="form-control border-1 border-gray-400 rounded-xl p-2 text-gray-400"
         placeholder="new password"
        />
      
      </div>
  
      <div class="mb-3 flex flex-col">
        <label class="form-label font-bold text-xl">Confirm New Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control border-1 border-gray-400 rounded-xl p-2 text-gray-400"
          placeholder="confirm new password "
        />
        <!-- <div class="invalid-feedback">
          <div>Confirm password is required.</div>
          <div>Passwords do not match.</div>
        </div> -->
        <div *ngIf="changePasswordForm.errors?.['mismatch']  && changePasswordForm.touched" class="text-red-500 text-sm mt-1">
          Passwords do not match.
        </div>
      </div>
  
      <button type="submit" class="w-100 bg-orange-700 text-white  rounded-2xl p-2">Change Password</button>
    </form>
  </div>
  
