<div
  class="min-h-screen bg-cover bg-center flex items-center justify-center"
  style="background-image: url('../assets/images/map.jpg');">

<form [formGroup]="rideForm" (ngSubmit)="submitRide()" 
      class="max-w-md mx-auto mt-10 bg-white shadow-lg rounded-2xl p-6 space-y-6">

  <h2 class="text-2xl font-bold text-gray-800 text-center mb-4">Schedule Your Ride</h2>

  <div>
    <label class="block text-gray-700 font-medium mb-1">Pick-up Time</label>
    <input type="time" formControlName="time"
           class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 transition" 
           required />
  </div>

  <div>
    <label class="block text-gray-700 font-medium mb-1">Pick-up Date</label>
    <input type="date" formControlName="date"
           class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 transition" 
           required />
  </div>

  <div>
    <label class="block text-gray-700 font-medium mb-1">Pick-up Location</label>
    <input type="text" formControlName="location" placeholder="Enter location"
    #locationInput
    class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 transition" 
    required />
  </div>
  

  <button type="submit"
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded-full transition duration-200">
    Continue
  </button>

</form>
</div>
